#container { width: 75%; margin: 0 auto; padding: 0 auto; }
table { width: 100%; }
td, th { border: 1px solid #ccc; height: 2em; }
th { background: #ddd; } 
td { background: #fff; text-align: center;}
